[submodule "models/DeepSpeech_v0_9_3/src"]
	path = models/DeepSpeech_v0_9_3/src
	url = ../DeepSpeechAdversary.git
        branch = adversarial-v0.9.3
[submodule "models/DeepSpeech_v0_4_1/src"]
	path = models/DeepSpeech_v0_4_1/src
	url = ../DeepSpeechAdversary.git
	branch = adversarial-v0.4.1
